asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
crispy-bootstrap4==2023.1
Django==4.2.7
django-bootstrap4==23.2
django-crispy-forms==2.1
psycopg2-binary==2.9.9
python-decouple==3.8
soupsieve==2.5
sqlparse==0.4.4
typing-extensions==4.8.0
