{% extends 'web_static/base_auth.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST" class="my-signup-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create an account</legend>
                {{ form|crispy }}
            </fieldset>
            <style>
                input[type="text"], input[type="password"], input[type="email"] {
                    width: 50%;
                }
            </style>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
        </div>
    </div>
{% endblock %}
