{% extends 'web_static/base_auth.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-0">Create an account</legend>
                    </fieldset>
                </div>
                <form method="POST" class="my-signup-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
